@font-face {
  font-family: 'Idroid';
  src: url(/fontes/idroid.otf) ;
}

@import url(/fontes/idroid.otf);

body {
  font-family: Arial, Helvetica, serif;
  background-color: #0b55cd;
}

/* Style the header */
header {
  text-align: center;
  background-image: linear-gradient(to top, #146898, rgba(0, 0, 0, 0.776));
  color: white;
  padding: 10px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 20px;
}

h1, #subt {
  font-family: serif;
}

.titulo1 {
  font-family: Idroid, sans-serif;
  font-size: x-large;
  text-align: center;
}

h2 {
  font-family: Idroid, sans-serif;
  color: black;
  background-image: linear-gradient(to right, #8cd7df, #3373da);
  padding: 4px;

}

.hlink {
  text-decoration: none;
  color: #3373da;
}

.hlink:hover {
  text-decoration: underline;
  background-color: #8cd7df;
  transition: 1.5s;
  padding: 5px;
  border-radius: 5px;
}

.redimensionar {
  width: 100%;
}

.pequena {
  display: flex;
  margin: auto;
  min-width: 350px;
}

/* Style the logo */
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  margin: auto;
}

/* Style the navigation menu */
nav {
  display: flex;
  justify-content: center;
  background-color: #CCCCCC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style the list inside the menu */
nav ul {
  display: flex;
  list-style-type: none;
  text-indent: 10px;
  padding: 0;
}

 li {
  padding: 4px;
}

.navlink {
  text-decoration: none;
  color: black;
  padding: 8px;
}

a:hover {
  text-decoration: underline;
  background-color: #3784FF;
  transition: 2.5s;
  border-radius: 6px;
}

/* Style the content */
article {
  text-indent: 10px;
  background-color: #f1f1f1;
  padding: 20px;
}

abbr {
  text-decoration: none;
  color: #1100ff;
}

aside {
  background-color: #9DE2F1;
  border-radius: 10px;
  padding: 10px;
  text-indent: 10px;
}

aside>h3 {
  margin: -10px -10px 0px -10px;
}

h3 {
  background-color: #3784FF;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul {
  columns: 2;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 866px) {
  nav > ul {
    flex-direction: column;
  }

  .pequena {
    width: 100%;
  }
}