@font-face {
  font-family: 'Idroid';
  src: url(/fontes/idroid.otf);
}

@import url(/fontes/idroid.otf);

body {
  font-family: Arial, Helvetica, serif;
  background-color: #0b55cd;
}

/* Style the header */
header {
  text-align: center;
  background-image: linear-gradient(to top, #146898, rgba(0, 0, 0, 0.776));
  color: white;
  padding: 10px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 20px;
}

h1,
#subt {
  font-family: serif;
}

.titulo1 {
  font-family: Idroid, sans-serif;
  font-size: x-large;
  text-align: center;
}

h2 {
  font-family: Idroid, sans-serif;
  color: black;
  background-image: linear-gradient(to right, #8cd7df, #3373da);
  padding: 4px;

}

.hlink {
  text-decoration: none;
  color: #3373da;
}

.hlink:hover {
  text-decoration: underline;
  background-color: #8cd7df;
  transition: 1.5s;
  padding: 5px;
  border-radius: 5px;
}

.redimensionar {
  width: 100%;
}

.media {
  display: flex;
  margin: auto;
}

.pequena {
  display: flex;
  margin: auto;
  width: 80%;
}

/* Style the logo */
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  margin: auto;
}

nav {
  background-color: #cccccca8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
}

/* Style the navigation menu */
.nav-bar {
  padding: 1.5rem 4rem;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: -54px;
}

.nav-item {
  display: none;
}

.open {
  display: block;
  width: 100%;
  margin-top: -8px;
  background-color: #cccccca8;
}

.mobile-menu-icon {
  display: flex;
  justify-content: center;
  margin: -42px 0px 12px 0px;
}

.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
  opacity: 1;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 4px;
}

.mobile-menu .nav-item {
  display: flex;
  justify-content: center;
}

.menu {
  position: relative;
  width: 40px;
  height: 30px;
  margin-bottom: 8px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.menu input {
  display: none;
}

.menu>span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.menu>span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.menu>span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
  transform-origin: left center;
}

.menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  opacity: 1;
  left: 0px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.menu input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.menu input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* Style the list inside the menu */

li {
  padding: 2px;
}

.navlink {
  text-decoration: none;
  color: black;
  padding: 8px;
}

a:hover {
  text-decoration: underline;
  background-color: #3784FF;
  transition: 2.5s;
  border-radius: 6px;
}

/* Style the content */
article {
  text-indent: 10px;
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: -12px;
}

abbr {
  text-decoration: none;
  color: #1100ff;
}

aside {
  background-color: #9DE2F1;
  border-radius: 10px;
  padding: 10px;
  text-indent: 10px;
}

aside>h3 {
  margin: -10px -10px 0px -10px;
}

/*Descricrição das imagens*/
.dimg {
  text-align: center;
  color: #737373;
}

h3 {
  background-color: #3784FF;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul {
  columns: 2;
}

details {
  padding-left: 4px;
}

summary {
  font-family: Idroid, sans-serif;
  font-weight: bold;
  list-style: "↳";
}

/* Style the footer */
footer {
  background-color: #cccccca8;
  padding: 10px;
  text-align: center;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 866px) {
  .pequena {
    width: 100%;
  }
}

@media (min-width: 866px) {
  .mobile-menu-icon {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

}